.logo {
  
    margin-left: 245px;
}


a.btn {
    border: 2px solid red;
    color: #fff;
    background-color: red;
    padding: 7px 15px 7px 15px;
	border-radius: 9px;
}


.nav-item {
    text-transform: uppercase;
    margin-left: 28px;
}


#banner {
    background-image: url('../images/img1.jpg');
   
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
	height: 699px;
	 box-shadow: inset 0 0 0 2000px rgba(28, 26, 27, 0.75);
	
}



.sliderbgimg li {
   
    padding-inline: 28px;
    font-size: 18px;
    text-transform: uppercase;
    margin: 51px 0px 51px 11px;
    display: inline-block;
   
  
    color: #fff;
}

.sliderbgimg ul{
	
	list-style:none;
	
}

.sliderbgimg {
    padding-top: 200px;
}


a.button {
    border: 2px solid red;
    color: #fff;
    background-color: red;
    padding: 7px 15px 7px 15px;
	text-decoration: none;
	border-radius: 9px;
}


.jumbotron {
    padding: 10rem 10rem;
        

}

.bg {
	
	background-image: url('../images/img1.jpg');
    height: 200px;
    background-color: red;
    text-align: center;
	 box-shadow: inset 0 0 0 2000px rgba(28, 26, 27, 0.75);
	 padding-top: 4pc;
	 color: #fff;
}

.inner_heading {
    border: 1px solid;
    padding: 9px 9px 33px 9px;
}
.inner1_heading{
	
	border: 1px solid;
    padding: 9px 9px 33px 9px;
	
	
}
.inner2_heading{
	 border: 1px solid;
    padding: 9px 9px 33px 9px;
	
	
}

a.button4 {
    border: 2px solid red;
    color: #fff;
    background-color: red;
    padding: 7px 15px 7px 15px;
	text-decoration: none;
	border-radius: 9px;
}
.inner_heading p {
    padding-bottom: 65px;
    padding-top: 22px;
}

.inner1_heading p{
	
	padding-bottom: 65px;
    padding-top: 22px;

}



.inner2_heading p{
	padding-bottom: 65px;
    padding-top: 22px;
	
	
}

.inner-midbg {
    background-color: black;
    margin-top: 32px;
    padding-top: 41px;
    padding-bottom: 41px;
}

.inner-midbg h4 {
    color: #fff;
	margin-top: 28px;
}
.inner-midbg p {
   
    color: #fff;
}

.img1 {
    background-color: black;
    
    width: 100%;
    height: 194px;
}
.heading {
    margin-bottom: 31px;
}

.sliderbgimg h1 {
    color: #fff;
    font-size: 65px;
}


.footer_top_menu ul {
    list-style: none;
    text-transform: capitalize;
}

.text-uppercase.font-weight-bold {
    margin-left: 38px;
}


.footer_top_menu a {
    text-decoration: none;
	color: #000;
}

.page-footer {
    background-color: #fff;
    padding-top: 28px;
    margin-bottom: 28px;
}

.fa {
  padding: 20px;
  font-size: 30px;

  text-align: center;
  text-decoration: none;
  margin: 5px 2px;
  border-radius: 50%;
}
.fa-facebook {
  background: #3B5998;
  color: white;
}

.fa-twitter {
  background: #55ACEE;
  color: white;
}

.fa-google {
  background: #dd4b39;
  color: white;
}

.button4 {
    text-align: center;
}


